:root{
    --amarelo: rgb(255, 255, 11);
}

/* valore iniciais */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:  'Arial', Times, serif;
   
}

/* logo e menu  */
#parte_superior{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
#logo{
    margin-left: 70px;
    
}
#menu_bar{
    margin-right: 40px;
}
#menu_bar a{
    text-decoration:none;
    color:white;
    margin-right: 20px;
}

#menu_bar a:hover{
    color: var(--amarelo);
}


/* parte do conteudo */

#pagina_abertura{
    background-image: url('../Imagens_teste-master/web/s1\ ft1.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#descricao_abertura{
    margin-top: 150px;
    text-align: center;
    margin-left: 300px;
    width: 60%;
}
#titulo_principal{
    font-size: clamp(20px,50px + 1vw,100px);
   
}
#descricao{
    margin-top: 40px;
    padding: 40px;
}
#botao_para_contato{
    margin-top: 40px;
}
#botao_para_contato button {
    background-color: rgb(112, 186, 255);
    color: rgb(246, 244, 244);
    
    border-radius: 25px;
    padding: 20px 25px;
    border: none;
    margin-bottom: 40px;
}


/* conteúdo do meio */

#meio{
    background-image: url('../Imagens_teste-master/web/bg.png');
    background-color: black;
}

/* sobre a empresa  */

#sobre{
    margin: 40px 0 0 70px;
}
#sobre h1{
    margin-bottom: 20px;
}
#detalhes_sobre{
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}